/* Importovano sa google-a */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* Importovano lokalno */
@font-face {
  font-family: "DancingScript";
  src: url("./DancingScript-Regular.ttf");
}

/* 1rem = 16px */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* da content bude unutar granica boxa */
}

body {
  font-family: "Montserrat", sans-serif !important;
}

.header {
  width: 100%;
  height: 100vh; /* viewport height - visina u pikselima ekrana uredjaja kojeg koristimo */
  background-image: url("../images/header.jpg");
  background-size: cover;
}

.navigation {
  display: flex;
  flex-wrap: wrap; /* ovo znaci kad ne moze sve da stane u jedan red prenesi u sledeci red. radi samo kad je display:flex */
  justify-content: flex-end; /* ovo radi samo kad je display:flex i znaci da se elementi lijepe uz kraj odnosno uz desnu  stranu*/
  margin-top: 3rem; /* 48px */
}

.nav-list {
  margin: 0 1rem;
  list-style-type: none;
}

.nav-list a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.logo-wrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.logo {
  width: 100px;
}

.header-title-wrapper {
  height: 70vh;
  display: flex;
  align-items: center; /* u centru vertikalno */
  justify-content: center; /* u centru horizontalno */
}

.home-img {
  width: 500px;
  border-radius: 20px;
  border: 1px solid aqua;
}

.projects-img {
  width: 100%;
  border-radius: 20px;
  border: 1px solid aqua;
}

.slika-anida {
  width: 350px;
  border-radius: 50%;
  background-size: cover;
  background-image: url('../images/anida.jpeg');
  height: 350px;
}

.slika-dzemila {
  width: 350px;
  border-radius: 50%;
  background-size: cover;
  background-image: url('../images/dzemila.jpeg');
  height: 350px;
}

.header-title {
  font-family: "DancingScript";
  font-size: 4rem;
}

.projects-wrapper {
  background-image: url("../images/projekti-bg.jpg");
  background-size: cover;
  border-bottom: 1px solid aqua;
}

.interiors-wrapper {
  background-image: url("../images/interior-bg.jpg");
  background-size: cover;
  border-bottom: 1px solid aqua;
}

.aboutus-wrapper {
  background-image: url("../images/about-bg.jpg");
  background-size: cover;
  border-bottom: 1px solid aqua;
}

.aboutus {
  background-image: url("../images/about-bg.jpg");
  background-size: cover;

}

.contact-wrapper {
  background-image: url("../images/contact-bg.jpg");
  background-size: cover;
}

.footer {
  min-height: 350px;
  background-color: rgb(168, 168, 168);
  display: flex;
  flex-direction: column; /* da budu stvari jedne ispod drugih */
  align-items: center; /* u centru horizontalno */
  justify-content: center; /* u centru vertikalno */
}

.footer-nav {
  text-align: center;
  margin: 1rem 0;
  padding: 0;
}

.logo-footer {
  width: 7rem;
}

.footer-mail {
  color: #fff;
  background-color: cadetblue;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
}
